

h1 {
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #61937c;
  }
  
h1:before {
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content: '';
    border: 4px solid #000;
  }

  nav {
    width: 100%;
    height: 70px;
    background-color: dimgray;
    padding-top: 5px;
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
  }

  a:hover {
    color: rgb(214, 237, 248);
  }

  ul {
    display: flex;
  }

  .wrap {
    width: 300px;
    display: flex;
    background-color: lightgray;
    /*  左右均等に配置※左右に半分のマージンあり  */
    justify-content:space-around;
  }
  
  /* 子要素 */
  .wrap p {
    height: 50px;
    width: 50px;
    background-color: limegreen;
    border: solid;
  }